<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Fira_Cartera_Pasiva.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="Fira_Cartera_Pasiva.My.MySettings.ConnectionString_servidor"
   connectionString="Provider=SQLOLEDB;Data Source=server-raid2;Persist Security Info=True;Password=User_PRO2015;User ID=User_PRO;Initial Catalog=Production"
   providerName="System.Data.OleDb" />
  <add name="Fira_Cartera_Pasiva.My.MySettings.ConnectionString"
   connectionString="Provider=SQLOLEDB;Data Source=server-raid2;Persist Security Info=True;Password=User_PRO2015;User ID=User_PRO;Initial Catalog=Production"
   providerName="System.Data.OleDb" />
  <add name="Fira_Cartera_Pasiva.My.MySettings.WEB_FinagilConnectionString"
   connectionString="Data Source=SERVER-RAID2;Initial Catalog=WEB_Finagil;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
   providerName="System.Data.SqlClient" />
  <add name="Fira_Cartera_Pasiva.My.MySettings.SeguridadNvaConnectionString"
   connectionString="Data Source=server-raid2;Initial Catalog=SeguridadNva;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<userSettings>
        <Fira_Cartera_Pasiva.My.MySettings>
                <setting name="RutaSRV" serializeAs="String">
                        <value>\\SERVER-RAID2\Contratos$\</value>
                </setting>
        </Fira_Cartera_Pasiva.My.MySettings>
    </userSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>  
</configuration>
